<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="renderer" content="webkit">
        <title></title>
        <link rel="stylesheet"
              href="css/pintuer.css">
        <link rel="stylesheet"
              href="css/admin.css">
        <script src="js/jquery.js"></script>
        <script src="js/pintuer.js"></script>
    </head>
<body>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong class="icon-reorder">商品分类列表</strong>
    </div>
    <div class="padding border-bottom">
        <ul class="search" style="padding-left:10px;">
            <li><a class="button border-main icon-plus-square-o"
                   th:href="@{/catelog(action=toAdd)}">添加商品类别</a></li>

        </ul>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="10%">分类编号</th>
            <th>分类名称</th>
            <th>分类描述</th>
        </tr>
        <tr th:each="p:${list}">
            <td th:text="${p.catelog_id}"></td>
            <td th:text="${p.catelog_name}"></td>
            <td th:text="${p.catelog_miaoshu}"></td>
        </tr>
    </table>
</div>
</body>
</html>